{% extends "layout.html" %}

{% block head %}
<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='js/questions.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='styles/question.css') }}" />
{% endblock %}

{% block body %}

<div id="exam-form">
  <div class="header">
    <div class="question-count">
      Question <span id="current-question-count">1</span> of {{num_questions}}
    </div>
    <div class="counter" id="time-remaining">03:00</div>
  </div>

  <div class="question-title" id="question-title">{{question_list[0]}}</div>
  <textarea id="question_answer" rows="10" cols="75" class="answer-textarea"></textarea>

  <div class="next-button-container">
  <div class="next-button" id="next-button" onclick="next()">NEXT</div>
  </div>
</div>
<div id="complete" style="display: none;">
  <h1>Congrats on completing the form</h1>
  <p>Please close the window at this time.</p>
</div>

<script>
  $( document ).ready(() => {
    eval_id = {{eval_id}};
    // TODO(Daniel): Pass list in a better way that doesn't require special char.
    question_list = '{{ "; ".join(question_list) }}'.split(';');
    start_timer();
  });
</script>
{% endblock %}
